<!DOCTYPE html>
{% autoescape true %}
<html>
  <!-- [START head_html] -->
  <head>
    <link type="text/css" rel="stylesheet" href="/stylesheets/main.css" />
  </head>
  <!-- [END head_html] -->
  <body>
  <div>
	  <p>Users</p>
    {% for user in users %}
      {% if user.user_id %}
        <p> {{ user.display_name }} - {{ user.email }} - registered</p>
      {% else %}
        <p> {{ user.display_name }} - {{ user.email }} - invited</p>
      {% endif %}
    {% endfor %}
  </div>
  <form action="/admin/inviteUser" method="post">
    Display name: <input type="text" name="display_name"><br>
    Email: <input type="text" name="email"><br>
    <input type="submit" value="Invite User">
  </form>
  
  <form action="/admin/deleteUser" method="post">
    Email: <input type="text" name="email"><br>
    <input type="submit" value="Delete User">
  </form>
  
  <div>
  <p>Months</p>
    {% for month in months %}
      <p> {{ month.display_name }} </p>
      <p> {{ month.start_date }} </p>
    {% endfor %}

    <form action="/admin/createMonth" method="post">
	  Display name: <input type="text" name="display_name"><br>
	  Year: <input type="text" name="year"><br>
	  Month: <input type="text" name="month"><br>    
      <div><input type="submit" value="Create Month"></div>
    </form>

    <hr>
    <a href="{{ url|safe }}">{{ url_linktext }}</a>

  </body>
</html>
{% endautoescape %}
