<!DOCTYPE html>
{% autoescape true %}
<html>
  <!-- [START head_html] -->
  <head>
    <link type="text/css" rel="stylesheet" href="/stylesheets/main.css" />
  </head>
  <!-- [END head_html] -->
  <body>
  <div>
  {{ user_id_to_name[user_id] }}
  </div>
  <div>
    <p> Select Month </p>
    <select>
      {% for month in months %}
      <option value="{{month.strftime('%m-%Y')}}">{{month.strftime('%B %Y')}}</option>
      {% endfor %}
    </select>
  </div>
  <div>
    {% if user_id %}
		  <p>Transactions</p>
	    {% for entry in summary_entries %}
	      <p> {{ user_id_to_name[entry.payer_id] }} - {{ entry.date }} - {{ entry.description }} - {{entry.total}} - {{entry.balance}} </p>
	    {% endfor %}
    {% endif%}
  </div>
  <div>Total:{{total_balance}}</div>
  Add a new transaction
  <form action="/transactions/upsert" method="post">
    Date: <input type="text" name="date"><br>
    Total paid: <input type="text" name="total"><br>
    Description: <input type="text" name="description"><br>
    For: <br>
  
  <input type="submit" value="Submit">
  </form>
    <hr>
    <a href="{{ url|safe }}">{{ url_linktext }}</a>

  </body>
</html>
{% endautoescape %}
